<% include ../partials/header.ejs %>

<!-- Content for the Edit Page -->
<<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="TitleTextField">Title</label>
                    <input type="text" class="form-control" 
                    id="TitleTextField" 
                    placeholder="Enter The Title"
                    name="title"
                    value="<%= book.title %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="PriceTextField">Price</label>
                    <input type="text" class="form-control" 
                    id="PriceTextField" 
                    placeholder="Enter The Price"
                    name="price"
                    value="<%= book.price %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="AuthorTextField">Author</label>
                    <input type="text" class="form-control" 
                    id="AuthorTextField" 
                    placeholder="Enter The Author's Name"
                    name="age"
                    value="<%= book.author %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="GenreTextField">Genre</label>
                    <input type="text" class="form-control" 
                    id="GenreTextField" 
                    placeholder="Enter Genre"
                    name="age"
                    value="<%= book.genre %>"
                    required>
                </div>

                <button type="submit" class="btn btn-primary">
                <i class="fas fa-edit"></i> Submit</button>
                <a href="/contact-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>